/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/* Main styles */

* {
  font-family: "Cartograph CF";
  font-size: 12px;
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

window#waybar {
  background-color: transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-nixos {
  background-color: @lavender;
  color: @base;
  font-size: 18px;
  padding: 2px 4px 0px 4px;
  border-radius: 20px;
  font-size: 25px;
  background-image: linear-gradient(45deg, @lavender 0%, @blue 90%);
}

#workspaces {
  color: @base;
  border-radius: 10px;
  margin-left: 20px;
  background-image: linear-gradient(45deg, @blue 0%, @sapphire 52%, @sky 90%);
}

#workspaces button {
  background: @base;
  color: @text;
  border-radius: 20px;
  padding: 4px;
  margin: 5px 3px;
}

#workspaces button.active {
  color: @base;
  background-color: shade(@saphhire, 0.9);
}

#workspaces button:first-child {
  margin-left: 6px;
}

#workspaces button:last-child {
  margin-right: 6px;
}

#workspaces button:hover, #workspaces button.focused {
  background-color: @lavender;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

.modules-center {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 20px;
  font-weight: bold;
  color: @base;
  background-image: linear-gradient(45deg, @sky 0%, @teal 52%, @green 90%);
}

.modules-right {
  padding-right: 10px;
  font-weight: bold;
}

#pulseaudio, #network, #cpu, #memory, #clock {
  border-radius: 20px;
  color: @base;
  padding: 0 6px;
  margin-left: 10px;
}

#pulseaudio {
  background-image: linear-gradient(45deg, @green 0%, @yellow 52%, @peach 90%);
}

#network {
  background-image: linear-gradient(45deg, @peach 0%, @maroon 52%, @red 90%);
}

#cpu {
  background-image: linear-gradient(45deg, @red 0%, @mauve 90%);
}

#memory {
  background-image: linear-gradient(45deg, @mauve 0%, @pink 90%);
}

#clock {
  background-image: linear-gradient(45deg, @pink 0%, @flamingo 52%, @rosewater 90%);
}
