/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

$base:   #1e1e2e;
$mantle: #181825;
$crust:  #11111b;

$text:     #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$blue:      #89b4fa;
$lavender:  #b4befe;
$sapphire:  #74c7ec;
$sky:       #89dceb;
$teal:      #94e2d5;
$green:     #a6e3a1;
$yellow:    #f9e2af;
$peach:     #fab387;
$maroon:    #eba0ac;
$red:       #f38ba8;
$mauve:     #cba6f7;
$pink:      #f5c2e7;
$flamingo:  #f2cdcd;
$rosewater: #f5e0dc;

* {
	all: unset;
  font-family: "Cartograph CF";
	font-size: 12px;
}

.bar {
  background-color: transparent;
  opacity: 1.0;
}

.main-bar {
  border: 2px solid $overlay2;
  border-radius: 12px;
};

.main-bar-background {
  opacity: 0.9;
  background-color: $base;
  border-radius: 12px;
}

.nixos-logo {
  color: $base;
  background-image: linear-gradient(45deg, $lavender 0%, $blue 90%);
  margin-left: 6px; font-size: 21px; padding: 3px; border-radius: 9px;
}

.workspaces-widget .horizontal {
  background-image: linear-gradient(45deg, $blue 0%, $sapphire 52%, $sky 90%);
  padding: 0 4px;
  font-size: 20px;
  border-radius: 9px;
  margin-left: 6px;
}

.workspaces-widget .horizontal .workspace-entry {
  margin: 2px 4px;
	padding: 0px 4px;
  font-size: 16px;
  color: $text;
  background: $base;
  border-radius: 20px;
}

.workspaces-widget .horizontal .current {
  color: $base;
  background-color: #acddf4;
}
